[submodule "reference-implementation/dependencies/smalltime"]
	path = reference-implementation/dependencies/smalltime
	url = https://github.com/kstenerud/smalltime.git
[submodule "reference-implementation/dependencies/safe-encoding"]
	path = reference-implementation/dependencies/safe-encoding
	url = https://github.com/kstenerud/safe-encoding.git
[submodule "reference-implementation/dependencies/googletest"]
	path = reference-implementation/dependencies/googletest
	url = https://github.com/google/googletest.git
