/* Based on https://github.com/andybrewer/mvp */

:root {
    --border-radius: 5px;
    --box-shadow: 2px 2px 10px;
    --color: #118bee;
    --color-accent: #0000000c;
    --color-bg: #EFF3F4;
    --color-bg-updates: white;
    --color-bg-secondary: #e9e9e9;
    --color-bg-shoutout: #00000048;
    --color-bg-important: #ffdd57;
    --color-header-bg: #3298DC;
    --color-secondary: #920de9;
    --color-secondary-accent: #920de90b;
    --color-shadow: #666666;
    --color-text: black;
    --color-text-updates: black;
    --color-text-secondary: #999;
    --color-text-badge: #000000d8;
    --color-header-text: #fff;
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --hover-brightness: 1.2;
    --justify-important: center;
    --justify-normal: left;
    --line-height: 1.5;
    --width-card: 270px;
    --width-card-medium: 460px;
    --width-card-wide: 800px;
    --width-content: 1080px;
}

.title-container {
    display: flex;
    justify-content: center;
    color: var(--color-header-text);
}

.title-logo {
    height: 3rem;
    opacity: 0.9;
}

.title-text {
    padding-left: 0.6rem;
    margin: auto;
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 0;
}

.title-subtitle {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0;
    width: 100%;
}

.title-bgimage {
  background-image: url("img/header-bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  opacity: 50%;
  padding-bottom: 12rem;
}

.updates-container {
    filter: drop-shadow(0rem 0.5rem 0.2rem rgba(0, 0, 0, 0.2));
    background-color: var(--color-bg-updates);
    color: var(--color-text-updates);
    margin: auto;
    font-size: 1rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    text-align: center;
}

.badge-shoutout {
    background-color: var(--color-bg-shoutout);
    color: var(--color-text-badge);
    border-radius: 0.5em;
    align-items: center;
    display: inline-flex;
    font-size: 0.7em;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding: 0 0.6em 0 0.6em;
    white-space: nowrap;
}

a.badge-shoutout:hover {
    color: var(--color-text-badge);
}

.badge-warning {
    background-color: var(--color-bg-important);
    color: var(--color-text-badge);
    border-radius: 0.5em;
    align-items: center;
    display: inline-flex;
    font-size: 0.8em;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding: 0 0.6em 0 0.6em;
    white-space: nowrap;
}

.release-number {
  font-weight: bold;
}

.nav-link {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-size: 1.1rem;
}

.card-image {
    width: 5.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
}

.blurb {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}

.blurb-text {
    opacity: 0.7;
}

.extra-space {
    padding-top: 3rem;
}

.resource {
    display: flex;
    align-items: center;
    height: 100%;
}

.resource-img {
    width: 64px;
    height: 64px;
    margin-right: 1rem;
    float: left;
    margin-top: auto;
    margin-bottom: auto;
    opacity: 0.7;
}

.horiz {
    overflow: auto;
    display: flex;
    align-items:center;
}

.point-icon {
    width: 3.5rem;
    float: left;
    margin-right: 1rem;
}

.example-icon {
    width: 3rem;
    float: left;
    margin-right: 1rem;
}

.vert {
    display: flex;
    align-items:center;
}

.vertical-align {
    vertical-align: middle;
}

.resource-desc {
    margin-top: auto;
    margin-bottom: auto;
}

.resource-desc a {
    font-size: 1.5rem;
}

.resource-desc span {
    font-size: 1rem;
    opacity: 0.85;
}

span.nav-link {
    border-color: #000;
    padding-bottom: 0.2em;
}

a.nav-link {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: -1px;
}

/* Layout */
article aside {
    background: var(--color-secondary-accent);
    border-left: 4px solid var(--color-secondary);
    padding: 0.01rem 0.8rem;
}

body {
    background: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-family);
    line-height: var(--line-height);
    margin: auto;
    overflow-x: hidden;
    font-weight: 400;
}

footer,
header,
main {
    margin: 0 auto;
}

main {
    max-width: var(--width-content);
    padding: 2rem 2rem;
}

footer {
    background-color: white;
    padding: 0.5rem 2rem;
}

header {
    color: var(--color-header-text);
    background-color: var(--color-header-bg);
    padding: 0 1rem;
}

hr {
    background-color: var(--color-bg-secondary);
    border: none;
    height: 1px;
    margin: 4rem 0;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: var(--justify-important);
    padding-bottom: 1.8rem;
}

section aside {
    text-align: center;
    font-size: 0.9rem;
    border: 1px solid var(--color-bg-secondary);
    border-radius: var(--border-radius);
    margin: 1rem;
    padding: 1.25rem;
    width: var(--width-card);
    background-color: #ffffff;
    filter: drop-shadow(0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2));
}

section aside:hover {
    box-shadow: var(--box-shadow) var(--color-bg-secondary);
}

section aside img {
    max-width: 100%;
}

article {
    text-align: left;
    font-size: 0.8rem;
    border: 1px solid var(--color-bg-secondary);
    border-radius: var(--border-radius);
    margin: 1rem auto 0 auto;
    padding: 1rem 1rem 1rem 1rem;
    max-width: var(--width-card-wide);
    background-color: #ffffff;
    filter: drop-shadow(0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2));
}

article:hover {
    box-shadow: var(--box-shadow) var(--color-bg-secondary);
}

article h1 {
    text-align: left;
    font-size: 1.8rem;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

article h2 {
    text-align: left;
    font-size: 1.6rem;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

article h3 {
    text-align: left;
    font-size: 1rem;
    font-weight: normal;
    opacity: 50%;
    padding-top: 0;
    padding-bottom: 0.5rem;
    margin-top: 0;
}

article ul {
    opacity: 0.8;
}

[hidden] {
    display: none;
}

/* Headers */
header {
    text-align: var(--justify-important);
}

header nav img {
    margin: 1rem 0;
}

/* Nav */
nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}

nav a:hover {
    color: var(--color-header-text);
    text-decoration: none;
}

nav a {
    color: var(--color-header-text);
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 0.5rem;
    position: relative;
    text-align: right;
}

/* Typography */
code {
    background-color: var(--color-accent);
    border-radius: var(--border-radius);
    color: var(--color-text);
    display: inline-block;
    margin: 0 0.1rem;
    padding: 0 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: var(--line-height);
    text-align: center;
}

h2 {
    margin-bottom: 0;
    padding-bottom: 0;
}

h3 {
    margin: 0;
    padding: 0;
}

ol li,
ul li {
    padding: 0.2rem 0;
}

p {
    margin: 0.75rem 0;
    padding: 0;
}

pre {
    max-width: var(--width-card-wide);
    padding-top: 1rem;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

pre code {
    display: block;
    max-width: var(--width-card-wide);
    overflow-x: auto;
}

/* Links */
a {
    color: #1e55ae;
    display: inline-block;
    text-decoration: none;
}

a.type-link {
    color: #0b2347;
}

a:hover {
    filter: brightness(var(--hover-brightness));
    text-decoration: underline;
    color: #3273dc;
}
