/* Based on https://github.com/andybrewer/mvp */

:root {
    --brdr-rad: 5px;
    --box-shadow: 2px 2px 10px;
    --color: #118bee;
    --c-accent: #0000000c;
    --c-bg: #EFF3F4;
    --c-bg-updt: white;
    --c-bg-2nd: #e9e9e9;
    --c-bg-shout: #00000048;
    --c-bg-imp: #ffdd57;
    --c-bg-hdr: #3298DC;
    --c-atc: #920de9;
    --c-atc-accent: #920de90b;
    --c-shadow: #666666;
    --c-text: black;
    --c-txt-updt: black;
    --c-txt-badge: #000000d8;
    --c-hdr-txt: #fff;
    --jst-imp: center;
    --line-h: 1.5;
    --w-card: 270px;
    --w-card-wide: 800px;
    --w-content: 1080px;
}

body {
    background: var(--c-bg);
    color: var(--c-text);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    line-height: var(--line-h);
    margin: auto;
    overflow-x: hidden;
    font-weight: 400;
}

.title-container {
    display: flex;
    justify-content: center;
    color: var(--c-hdr-txt);
}

.title-logo {
    height: 3rem;
    opacity: 0.9;
}

.title-text {
    padding-left: 0.6rem;
    margin: auto;
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 0;
}

.title-subtitle {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0;
    width: 100%;
}

.title-bgimage {
  background-image: url("img/header-bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  opacity: 50%;
  padding-bottom: 12rem;
  margin-left: 60px;
}

.updates-container {
    box-shadow: 0rem 0.5rem 0.2rem rgba(0, 0, 0, 0.2);
    background-color: var(--c-bg-updt);
    color: var(--c-txt-updt);
    margin: auto;
    font-size: 1rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    text-align: center;
}

.badge-donate {
    background-color: #ffac2d;
    color: #073663;
    border-radius: 1em;
    align-items: center;
    display: inline-flex;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 500;
    height: 1.4em;
    justify-content: center;
    line-height: 1.5;
    padding: 0 0.7em 0 0.7em;
    white-space: nowrap;
    border: none;
    /*box-shadow: 0px -0.5px 0px 1px #ffc439;*/
}

.badge-donate:hover {
    color: #073663;
    text-decoration: underline;
}

.badge-shoutout {
    background-color: var(--c-bg-shout);
    color: var(--c-txt-badge);
    border-radius: 0.5em;
    align-items: center;
    display: inline-flex;
    font-size: 0.7rem;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding: 0 0.6em 0 0.6em;
    white-space: nowrap;
}

a.badge-shoutout:hover {
    color: var(--c-txt-badge);
}

.badge-warning {
    background-color: var(--c-bg-imp);
    color: var(--c-txt-badge);
    border-radius: 0.5em;
    align-items: center;
    display: inline-flex;
    font-size: 0.8rem;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding: 0 0.6em 0 0.6em;
    white-space: nowrap;
}

.release-number {
  font-weight: bold;
}

.nav-link {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-size: 1.1rem;
}

.card-image {
    width: 5.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
}

.donate {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.blurb {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}

.blurb-text {
    opacity: 0.7;
}

.blurb-text-larger {
    opacity: 0.7;
    font-size: 120%;
}

.big-text {
    font-size: 150%;
}

.subheading-text {
    opacity: 0.8;
    font-size: 120%;
    font-weight: bold;
}

.extra-space {
    padding-top: 3rem;
}

.resource {
    display: flex;
    align-items: center;
    height: 100%;
}

.resource-img {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
    float: left;
    margin-top: auto;
    margin-bottom: auto;
    opacity: 0.7;
}

.horiz {
    overflow: auto;
    display: flex;
    align-items:center;
}

.point-icon {
    width: 3.5rem;
    float: left;
    margin-right: 1rem;
}

.example-icon {
    width: 3rem;
    float: left;
    margin-right: 1rem;
}

.vert {
    display: flex;
    align-items:center;
}

.vertical-align {
    vertical-align: middle;
}

.resource-desc {
    margin-top: auto;
    margin-bottom: auto;
}

.resource-desc a {
    font-size: 1.5rem;
}

.resource-desc span {
    font-size: 1rem;
    opacity: 0.85;
}

span.nav-link {
    border-color: #000;
    padding-bottom: 0.2em;
}

a.nav-link {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: -1px;
}

/* Layout */
article aside {
    background: var(--c-atc-accent);
    border-left: 4px solid var(--c-atc);
    padding: 0.01rem 0.8rem;
}

footer,
header,
main {
    margin: 0 auto;
}

main {
    max-width: var(--w-content);
    padding: 2rem 2rem;
}

footer {
    background-color: white;
    padding: 0.5rem 2rem;
}

header {
    color: var(--c-hdr-txt);
    background-color: var(--c-bg-hdr);
    background: linear-gradient(180deg, rgba(45,137,199,1) 0%, rgba(46,144,208,1) 35%, rgba(50,152,220,1) 100%);
    padding: 0 1rem;
}

hr {
    background-color: var(--c-bg-2nd);
    border: none;
    height: 1px;
    margin: 4rem 0;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: var(--jst-imp);
    padding-bottom: 1.8rem;
}

section aside {
    text-align: center;
    font-size: 0.9rem;
    border: 1px solid var(--c-bg-2nd);
    border-radius: var(--brdr-rad);
    margin: 1rem;
    padding: 1.25rem;
    width: var(--w-card);
    background-color: #ffffff;
    filter: drop-shadow(0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2));
}

section aside:hover {
    box-shadow: var(--box-shadow) var(--c-bg-2nd);
}

section aside img {
    max-width: 100%;
}

article {
    text-align: left;
    font-size: 0.9rem;
    border: 1px solid var(--c-bg-2nd);
    border-radius: var(--brdr-rad);
    margin: 1rem auto 0 auto;
    padding: 1rem 1rem 1rem 1rem;
    max-width: var(--w-card-wide);
    background-color: #ffffff;
    filter: drop-shadow(0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2));
}

article:hover {
    box-shadow: var(--box-shadow) var(--c-bg-2nd);
}

article h1 {
    text-align: left;
    font-size: 1.8rem;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

article h2 {
    text-align: left;
    font-size: 1.6rem;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

article h3 {
    text-align: left;
    font-size: 1rem;
    font-weight: normal;
    opacity: 55%;
    padding-top: 0;
    padding-bottom: 0.5rem;
    margin-top: 0;
}

article ul {
    opacity: 0.8;
}

[hidden] {
    display: none;
}

aside h3 {
    font-size: 130%;
}

/* Headers */
header {
    text-align: var(--jst-imp);
}

header nav img {
    margin: 1rem 0;
}

/* Nav */
nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}

nav a:hover {
    color: var(--c-hdr-txt);
    text-decoration: none;
}

nav a {
    color: var(--c-hdr-txt);
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 0.5rem;
    position: relative;
    text-align: right;
}

/* Typography */
code {
    background-color: var(--c-accent);
    border-radius: var(--brdr-rad);
    color: var(--c-text);
    display: inline-block;
    margin: 0 0.1rem;
    padding: 0 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: var(--line-h);
    text-align: center;
}

h2 {
    margin-bottom: 0;
    padding-bottom: 0;
}

h3 {
    margin: 0;
    padding: 0;
}

ol li,
ul li {
    padding: 0.2rem 0;
}

p {
    margin: 0.75rem 0;
    padding: 0;
}

pre {
    max-width: var(--w-card-wide);
    padding-top: 1rem;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

pre code {
    display: block;
    max-width: var(--w-card-wide);
    overflow-x: auto;
}

/* Links */
a {
    color: #1e55ae;
    display: inline-block;
    text-decoration: none;
}

a.type-link {
    color: #0b2347;
}

a:hover {
    filter: brightness(1.2);
    text-decoration: underline;
    color: #3273dc;
}

@media screen and (max-width: 690px) {
    .title-bgimage {
        margin-left: 0px;
    }
}

@media screen and (max-width: 450px) {
    .title-text {
        padding-left: 0;
        font-size: 1.6rem;
    }
    article h1 {
        font-size: 1.4rem;
    }
    article h2 {
        font-size: 1.4rem;
    }
    #logo {
        display: none;
    }
}
